body {
  --header-height: 3rem;
  --header-height: 0;
  width: 100%;
  display: grid;
  height: 100vh;
  --max-width: 100vw;
  --gutter: 0.5rem;
  --doc-padding: 2rem;
}
.layout {
  display: grid;
  grid-template-areas:
    "leftsidebar      header    header"
    "leftsidebar      main      rightsidebar";
  grid-template-rows: var(--header-height) 1fr;
  grid-template-columns: 260px 1fr 220px;
  /* gap: 2rem; */
  overflow-x: hidden;
}
header {
  grid-area: header;
}
.layout :global(> *) {
  width: 100%;
  height: 100%;
}
.grid-sidebar {
  /* position: sticky;
  top: 0; */
}
#grid-left {
  grid-area: leftsidebar;
  z-index: 10;
}
#grid-right {
  grid-area: rightsidebar;
  z-index: 10;
}
#grid-main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  height: 100%;
}
